
<p class="username"><%= @user.username %>'s Wall</p>

<%= form_for Post.new do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message %>
  <div style="display: none;">
  <%= form.text_field :wall, :value => @user.id %>
  </div>
  <%= form.submit "Submit" %>
<% end %>


<% @posts.reverse_each do |post| %>
  <% if post.wall == @user.id %>
      <div class="post">
        <ul class="caption"
          <p><%= post.message %></p>
          <p><%= post.created_at %></p>
          <p><%= post.user.username %></p>
          <% if post.user_id == session[:user_id] %>
            <%= link_to 'Edit', edit_post_path(post.id) %>
            <%= link_to 'Delete', post_path(post.id), method: :delete %>
          <% end %>
        </ul>
      </div>
    <% end %>
<% end %>
